
/* Contenedor principal de cartas */
#contenedorCartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200rem;
    padding: 1rem;
}
/* Contenedor principal de vidas */
#contenedorVidas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
    min-height: 15rem;
    width: 100%;

}

/* Contenedor principal de tiempo */
#tiempo{
    font-size: 4rem;

}

/* Estilo individual de cada carta */
.espacioCarta {
    margin: 0.5rem;
    width: 7.5rem;
    height: 11rem;

}
.carta {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    border: #030B20 0.2rem solid;
    background-color: #030B20;
    font-size: 1.5rem;
    font-weight: bold;

    transition:
        transform 0.3s ease,
        background-color 0.2s ease-in-out,
        box-shadow 0.3s ease-out;
    box-shadow: 0 0.5rem 1rem #030b2046;
    cursor: pointer;
    animation: aparecer 0.3s ease-in-out; 
}

.carta img {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.carta .dorso {
    border-radius: 0.7rem;
    width: 100%;
    height: 100%;
    z-index: 2; 
    backface-visibility: hidden;
}

.carta .cara {
    background-color: #030B20;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column; 
    width: 100%; 
    height: 100%;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    background-image: url(images/c_front.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.carta .cara img {

    padding-top: 1rem;
    max-height: 45%; 
    max-width: 100%; 
    object-fit: contain;

}

/* estilo al pasar el raton por encima*/
.carta:hover {
    transform: scale(1.15);
    border-color: cyan;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Estilo de cada carta SELECIONADA/REVELADA */
.carta.seleccionada {
    border-color: white;
    transform: scale(1.1); 
}

/* Estilo de cada carta COMPLETADA*/
.carta.seleccionada.bloqueada{
    border-color: yellow;
    pointer-events: none;
}

/* Estilo de cada carta BLOQUEADA SIN COMPLETAR*/
.carta.bloqueada{
    border-color: red;
    pointer-events: none;
}

/* Corazones de vidas */
.vida{
    height: 4rem;
    margin: 1rem;
    display: flex;
    animation: balanceo ease-in-out 1s infinite alternate; 

}

.vida.borrar{

    display: flex;
    animation: rebote 0.8s ease-in;

}



/* Animacon de aparecer */
@keyframes aparecer {
    0% {
        transform: scale(0);
        opacity: 0;}
    
    100% {
        transform: scale(1);
        opacity: 1;}
}

/* Animacionde Balanceo*/
@keyframes balanceo {
    0% {
        rotate: -15deg;}
    100% {
        rotate: 15deg;}
}

@keyframes rebote {
    0% {opacity: 1;
        transform: translateY(0px);
        }
    15% {
        transform: translateY(-1rem);
        opacity: 1;}
    100% {
        transform: translateY(4rem);
        opacity: 0}


}
