:root{
    --colorFondoMain: #1c2a4d;
    
    --colorFondoHeader: #eb7c6e;
    --colorTextoHeader: #f9f871;

    --colorFondoNav: #ffb561;
    --colorTextoNav: #b15678;

    --colorFondoFooter: #66406e;
    --colorTextoFooter: #030B20;

    --colorFondoVentana: #b15678;
    --colorTextoVentana: #1c2a4d;
    --colorBordeVentana: #66406e;

    --colorFondoBoton: #734821;
    --colorTextoBoton: #B58860;

    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem;

}

header {
    background-color: var(--colorFondoHeader);
    color: var(--colorTextoHeader);
    padding: 1.5rem;
    text-align: center;
}

nav {
    background-color: var(--colorFondoNav);
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li a {
    color: var(--colorTextoNav);
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: var(--colorFondoFooter);
    color: var(--colorTextoFooter);
    text-align: center;
    padding: 0.625rem;
    margin-top: auto;
}

main {
    flex: 1;
    padding: 1.25rem;
    background-color: var(--colorFondoMain);
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    background-image: url(images/b_stars2.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 30rem;
    
}


/* https://youtu.be/r_PL0K2fGkY?feature=shared */
/* Esta es la base para que se vea sin entorpecer al resto del DOM */
.panelEmergente{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: aparecer 3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.panelEmergente.abrir{
    opacity: 1;
    z-index: 200;
}

.panelEmergente.cerrar{
    opacity: 1;
    z-index: 200;

}

.ventana{
    display: flex;
    flex-direction: column;
    background-color: var(--colorFondoVentana);
    border: var(--colorBordeVentana) 0.2rem solid;
    color: var(--colorTextoVentana);
    padding: 1rem 2rem;
    text-align: center;
    width: 35rem;
    border-radius: 1rem;
    
}

.ventana p{
    margin-top: 1rem;
}

.ventana input{
    margin-inline: 3rem;
    height: 2rem;
}
.ventana button{
    margin-inline: 30%;
    margin-top: 1rem;
    height: 2rem;
}
.alerta{
    color: red;
    font-weight: bold;
}


